<ion-header>
    <ion-navbar color="primary">
      <ion-title>Lista de Tareas</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    
    <ion-card>
        <ion-card-header>
        <ion-item>
            <ion-label floating>Nombre tarea</ion-label>
            <ion-input [(ngModel)]="tarea.tname" name="nombre" type="text"></ion-input>
        </ion-item>
        </ion-card-header>
    </ion-card>
    <button ion-button icon-left block (click)="agregarTarea()">
        <ion-icon ios="ios-add-circle" md="md-add-circle" ></ion-icon>
        Agregar Tarea
    </button>


    
    <ion-grid *ngIf="tareas.length === 0">
      <ion-row>
        <ion-col class="text-center caja-vacia" >
          <ion-icon class="icono-grande" ios="ios-sunny" md="md-sunny"></ion-icon>
          <p>
            No hay tareas.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  
    <ion-card *ngIf="tareas.length !== 0">
      
      <ion-item color="dark" >
        <ion-note item-right>
          Numero de tareas: {{ tareas.length }} 
        </ion-note>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let tarea of tareas ; let i = index;">
            <ion-icon *ngIf="!tarea.finished" name="square-outline"></ion-icon>
            <ion-icon *ngIf="tarea.finished" name="checkbox-outline"></ion-icon>
            {{ tarea.tname }}
            <button ion-button item-end icon-only icon-right color="danger" (click)="eliminarTarea(tarea ,i)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>
      </ion-list>
    </ion-card>
  
  </ion-content>
  